
# dependencies
/node_modules
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/backend/config/config.env
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# other
/frontend2
/frontend3
/stripe-account.jpg
/@ecommerce-images
*.zip

npm-debug.log*
yarn-debug.log*
yarn-error.log*
